@import './variables.scss';

// I'm going to hell for this.
:global {
  .container > main {
    max-width: initial;
    padding: initial;
  }
}

.landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2*#{$mainNavHeight} - 64px);
}

.landing__logo {
  margin-bottom: 6rem;
}

.landing__header {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 0;
}

.landing__subheader {
  font-size: 1.4em;
}

.btn__wrapper {
  display: flex;
  justify-content: center;

  @include break-column;
}

.landing__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorBHBg;
  text-decoration: none;
  color: $white;
  padding: 1rem 2rem;
  margin: 1rem;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      margin-left: .5rem;
    }
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 51%;
    background-color: $colorBHMain;
    transition: width .3s ease-out;
  }

  &:after {
    left: 0;
  }

  &:before {
    right: 0;
  }

  &:hover {
    color: $white;

    &:after,
    &:before {
      width: 0;
    }
  }
}

.landing__btn--alt {
  composes: landing__btn;
  background-color: transparent;
  color: rgba($colorBHBg, .7);
  transition: color .3s;

  &:after,
  &:before {
    background-color: transparent;
    border-style: solid;
    border-color: $colorBHMain;
  }

  &:after {
    border-width: 1px 0 1px 1px;
  }

  &:before {
    border-width: 1px 1px 1px 0;
  }

  &:hover {
    color: $colorBHMain;
  }
}

.section {
  padding: 4rem;
}

.features {
  width: 100%;
  background: $colorBHBg2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__header {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.features__row {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;

  @include break-column;
}

.features__unit {
  padding: 2rem;
}

.footer {
  text-align: left;
  background: #e2e1e7;
  display: flex;
  justify-content: center;

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  p {
    font-size: 1rem;
  }
}

.footer__wrapper {
  width: 100%;
  max-width: 960px;
}
